/*Template*/
*{
    padding: 0;
    margin: 0;
}
.container{
    width: 75%;
    margin: auto;
}

/*List Properties*/
ul{
    list-style: none;
}
.list{
    background-color: rgb(128, 128 ,128);
    overflow: hidden;
}

li{
    font-size: 24px;
    padding: 10px;
    /*display: inline;*/
    float: left;
}
li a{
    color: white;
}

/*Text Properties*/
h1{
    text-align: center;
    padding: 25px;
}

/*Anchor Properties*/
a{
    text-decoration: none;
}

/*Input Properties*/
label{
    display: block;
}
form{
    display: inline;
}
input{
    display: block;
    padding: 5px;
}
input[type="reset"], input[type="submit"]{
    display: inline;
}
button{
    padding: 5px;
}

/*Table Properties*/
table, td, th {
    border: 1px solid black;
}
th{
    font-size: 24px;
    padding: 25px;
}
table{
    border-collapse: collapse;
    margin: auto;
}